<div id="navcontainer">
	<ul>
		{% for item in navigation %}
		<li>
			<a href="{{ item.url }}" {% if item.url in page.url %}id="current" class="currentAncestor"{% endif %}>
				{{ item.title }}
			</a>
			{% if item.children and item.url in page.url %}
			<ul>
				{% for child in item.children %}
				<li>
					<a href="{{ child.url }}" {% if child.url == page.url %}id="current"{% endif %}>
						{{ child.title }}
					</a>
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
</div>